tensorflow-gpu==1.14.0
opencv-python==4.1.2.30
imageio==2.6.1
Keras==2.3.1
opencv_contrib_python==4.1.2.30
matplotlib==3.1.1
h5py==2.9.0
numpy==1.17.4
tqdm==4.40.2
beautifulsoup4==4.8.2
Pillow==7.0.0
PyYAML==5.3
scikit_learn==0.22.1